<p class="txt1" style="color:gray;"> <span class="clr" style="color:skyblue;">Covers Pre-hospitalisation and Post-hospitalisation Expenses</span>
   <br><br> A health insurance plan covers the medical expenses incurred due by you in the wake of pre-hospitalisation and post-hospitalisation. <br>
   Once you are insured under the Cognizant Insurance your predetermined sum insured covers the medical bills generated 30 to 60 days<br>
before your hospitalisation and 60 to 90 days following your discharge from the hospital. 

    The exact coverage shall vary depending on<br> your choice of health insurance plan variant and the premium paid.</p>
    <p style="color:skyblue;">Paper less policies</p>
    <ul class="a">
        <li > Say goodbye to standing in long queues to buy or renew health insurance.</li>
        <li>Instant Purchase, No Medicals Required</li>
       
      </ul>
    
    
    <p style="color:skyblue;">Coverages:</p>
      
        <ul class="a">  
            <li> Individual plan</li>
            <li >   Family Health Insurance</li>
                <li >  Critical Illness Coverages</li>
                    <li >   Accident coverage</li>
                        <li >   Coronavirus Coverage</li>
                        </ul>
    <p style="color:skyblue;">
       Eligibility Criteria:</p>
       <ul class="a"> 
        <li> The age criteria for adults marks the entry age at 18 years of age</li>
        <li>The age criterion for dependent children is between 90 days to 25 years.</li>
    </ul>
    <p style="color:gray;">
       <span style="color:skyblue;">How To Claim Health Insurance?</span> <br><br>
        If you’ve received treatment at a hospital, you can enjoy quick and easy cashless claims by following these steps for non-emergency hospitalisations.

<br><br>
   Step-1: Login to the website or any new member can register <br>
   Step-2: Add Dependents after Login<br>
   Step-3: If the person want to submit the claim for himeself/herself should submit the claim from the member account.<br>
   Step-4: If the person want to submit the claim for the dependents then submit the claim through dependents page.<br>
   Step-5: That's it!: There are no more steps.<br>
</p>
